* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: rgb(41, 146, 172);
    color: rgb(255, 255, 255);
    display: flex; 
    justify-content: center;
    align-items: center;
}

#subtitulo{
    color: black;
}

#frase{
    color: rgb(226, 43, 43);
}

#app {
    background: rgb(67, 158, 143);
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 500px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

main {
    
    padding: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

nav {
    border-top: 2px solid rgb(34, 12, 12);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

#msg{
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 18px;
}

button{
    width:80px;
    height:80px;
    border-radius: 50%;
    border: none;
    background: rgb(38, 0, 255);
    color: aliceblue;

}


button:hover{
scale:1.1;
 background-color: #1e46f7; 
box-shadow: 0 4px 8px rgba(12, 1, 1, 0.205); 
transition: all 0.3s ease;
}
